# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node & dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo & React Native
.expo/
dist/
web-build/

# Environment & Secrets
.env
.env*.local

# SQLite local db
*.db
*.db-journal

# Temporary files
*.tmp
*.log
